:root { 
--deep_orange_A200:#ff6c2c; 
--indigo_A200:#5961f8; 
--blue_A200:#4285f4; 
--red_500:#eb4335; 
--green_600:#239f57; 
--indigo_A200_b2:#686cf8b2; 
--blue_gray_500_01:#5c74a2; 
--black_900:#060419; 
--blue_gray_800:#343d50; 
--blue_gray_700:#4b4e70; 
--purple_50_6c:#f2d8f66c; 
--purple_50:#f2d8f6; 
--indigo_200_90:#96abdd90; 
--purple_100_19:#dea4f219; 
--blue_900:#1a46b7; 
--amber_500:#fbbc05; 
--blue_gray_500:#5c6d8e; 
--gray_900:#1b1532; 
--black_900_0c:#0000000c; 
--blue_100_4c:#c8d8ff4c; 
--indigo_A200_6c:#5961f86c; 
--indigo_300:#7378b4; 
--indigo_300_66_01:#7378b466; 
--indigo_200:#96abdd; 
--blue_100:#c8d8ff; 
--purple_100_b2:#ebaaf1b2; 
--black_900_19:#00000019; 
--green_600_01:#34a853; 
--indigo_200_b2:#96abddb2; 
--indigo_300_66:#7e83bc66; 
--indigo_300_00:#7e83bc00; 
--white_A700:#ffffff; 
--blue_gray_700_01:#484665; 
--blue_gray_800_4c:#36384a4c; 
}